@use '../utils/variables';

.navbar {
  background-color: #A9B5DF;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  

  .nav-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;

    a {
      color: #333;
      font-weight: 500;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #dbeafe;
      }
    }
  }

  .auth-section {
    display: flex;
    align-items: center;
    gap: 1rem;

    .logout-button {
      background: none;
      border: none;
      color: #e74c3c;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
